.information {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  padding: 50px 0;
}

.information__left {
  width: 60%;
  background: var(--sec-color);
  color: var(--pri-color);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}

.information__cards {
  display: flex;
}

.information__card {
  padding: 15px;
  background: var(--pri-color);
  margin: 0 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information__cardIcon {
  font-size: 1.3rem;
  color: var(--sec-color);
}

.information__right {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.information__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sec-color);
  margin: 10px;
  padding: 15px 25px;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 15px;
  transition: 0.5s ease-in;
  background: transparent;
}

.information__btn:hover {
  opacity: 0.7;
}

.information__btnIcon {
  font-size: 1rem;
  margin: 0 5px;
}

@media (max-width: 992px) {
  .information {
    margin-top: 40px;
  }
  .information__left {
    width: 100%;
    order: 2;
    margin: 20px 0;
  }
  .information__right {
    width: 100%;
    order: 1;
  }
}
