.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.navbar__logo > a {
  font-weight: 700;
  margin-left: 5px;
}

.navbar__btn {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__btnIcon {
  color: var(--sec-color);
  font-size: 1.2rem;
}

.navbar__menu {
  position: absolute;
  background: var(--bg-color);
  flex-direction: column;
  width: 300px;
  left: -300px;
  height: 100%;
  display: none;
  z-index: 1;
  padding-top: 50px;
  text-align: center;
}

.navbar--active {
  display: flex;
  left: 0;
}

.navbar__links {
  padding: 10px;
}

@media (max-width: 992px) {
  .navbar__menu {
    width: 100%;
  }
}
